body {
    background: url("https://t3.ftcdn.net/jpg/01/33/36/88/360_F_133368805_fk5Zro40oF3xrcdfQRNfNrNlL0HnUJiz.jpg") center center fixed;
    background-size: 60%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-repeat: no-repeat;
}

img {
    height: 300px;
    width: 300px;
    object-fit: cover;
   
    opacity: 0;
     /* Add blur effect */
     border-radius: 50%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
}

.collection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

button {
    border-radius: 5px;
    height: 90px;
    width: 130px;
    border: none;
    margin-top: 3rem;
    cursor: pointer;
    font-size: x-large;
    box-shadow: 2px 2px  1px black ;
}
#zero{
background-color: brown;
}
#one {
    background-color: aqua;
}

#four {
    background-color: green;
}

#two {
    background-color: red;
}

#three {
    background-color: violet;
}

button:hover {
    border: 3px solid black;
    border-radius: 5px;
}
